:root{
    --text-dark:#000;
    --text-light:#fff;
    --text-grey:#adbdcc;
    --body-font:"Roboto", sans-serif;
    --heading-font:"Anek+Telugu" , sans-serif;
    --p-size: 18px;
    --p-hight: 26px;
    --secondary-text-size: 14px;
    --secondary-text-hight: 18px;
    --subtitle-size: 17px;
    --subtitle-hight:26px;
    --h1-size: 54px;
    --h1-line-hight: 66px;
    --h2-size: 30px;
    --h2-line-hight: 75px;
    --h3-size: 20px;
    --h4-size: 12px;
    --h5-size: 10px;
    --h6-size: 8px;
    --btn-size: 16px;
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --light-blue: #00d4ff;
    --primary-button-hover: #6d7a88;
    --bg-white: #fff;
    --bg-light:#f7f9fc;
    --primary-accent: #0a2540;
    --standard-width:1144px;

    /* spacing for padding */
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;

    --standard-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    --primary-gradient:linear-gradient(101.33deg, #08209a 0.76%, #6563ff 33.33%, #36c5f0 76.92%, #83e2ff 96.96%);
}
body{
    font-family: var(--body-font);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-dark);
    padding: var(--space-sm)0 0 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h1-size);
    margin: 0;
    width: 100%;
    letter-spacing: -2px;
    line-height: var(--h1-line-hight);
}
h2{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}
h3{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}
h4{
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h4-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}
h5{
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h5-size);
    margin: 0;
    width: 100%;

}
h6{
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h6-size);
    margin: 0;
    width: 100%;

}

a{
    color: var(--purple-1);
    text-decoration: none;
    font-weight: 800;
    transition: color 0.25s ease;
}
a:hover{
    color: var(--primary-accent);
}

.subtitle, .subtitle2{
    color: var(--purple-1);
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-hight);
    font-family: var(--heading-font);
    font-weight: 300;

}

.subtitle2{
    color: var(--light-blue);
}
p{
    font-size: var(--p-size);
    line-height: var(--p-hight);
    font-weight: 400;
    margin: var(--space-md) 0;
}
.secondary-text{
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-hight);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

.primary-button{
    font-family: var(--body-font);
    font-size: var(--btn-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--primary-accent);
    border: none;
    color: var(--text-light);
    padding: var(--space-sm)var(--space-md);
    transition: all 0.25s ease;
}

.primary-button:hover{
    background-color: var(--primary-button-hover);
    cursor:pointer;
}

.secondary-button{
    font-family: var(--body-font);
    font-size: var(--btn-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    color: var(--primary-accent);
    transition: all 0.25s ease;
}

.secondary-button:hover{
    opacity: 0.75;
    cursor:pointer;
}

.with-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-icon > img{
    transition: all .25s ease;
}
.with-icon:hover >img{
    transform: translateX(4px);
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--space-md);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu a{

    margin: 0 var(--space-md);
    font-weight: bold;
    color: var(--text-light);
}
.menu a:hover{
    text-decoration: underline;
}
.navebar-btn{
    background-color: rgba(250, 250, 250, 0.25);
}
.navebar-btn:hover{
    background-color: rgba(250, 250, 250, 0.5);
}

/* Section Container */

.section-container{
    width: 100%;
    max-width: var(--standard-width);
}
.two-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;    
}
.two-column > .col-left{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    padding: 0 var(--space-md) 0 0;
}
.two-column > .col-right{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    padding: 0 var(--space-md) 0 0;
}

/* Hero */
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hero .button-container{
    display: flex;
    margin: var(--space-md) 0;
}
.button-container button:nth-of-type(2){
    color: var(--purple-2);
    margin: 0 0 0 var(--space-md);
}
.hero p{
    max-width: 400px;
}
.hero{
    margin-top: var(--space-xl);
}
main{
width: 100%;
margin: var(--space-xl) 0 0 0;
}
.hero-phone-container{
    align-items: flex-end;
    height: 564px;
}
.hero-phone{
    height: 628px;
    transform: translate(92px, -10px);
}
/* Partner's Section */
.partners-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.partners-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: var(--space-xl) 0;
    column-gap: var(--space-md);
    row-gap: var(--space-lg);
}
.partners-grid img{
    height: 60px;
    place-self: center;
}

/* Unified Partners */
.unified-platfrom-section .primary-button{
    background-color: var(--purple-1);
    margin: var(--space-md);
}
.unified-platfrom-section .primary-button:hover{
    background-color: var(--primary-accent);
}
.unified-platfrom-section{
    padding: var(--space-xl);
    width: 100%;
    display: flex;
    justify-content: center;
}
.unified-platfrom-section h3{
    max-width: 50%;
    margin-bottom: var(--space-md);
}

/* Graphic Grid */
.graphic-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.graphic-grid{
    display: grid;
    grid-template-areas: 
    "card invoice invoice"
    "phone invoice invoice"
    "phone dash dash";
    padding: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-lg);
    grid-gap: var(--space-lg);
    margin: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-lg) ;
}
#credit-card{
    grid-area:card ;
    width: 100%;
    box-shadow: var(--standard-shadow);
}
#invoice{
    grid-area: invoice;
    width: 100%;
    box-shadow: var(--standard-shadow);
}
#phone{
    grid-area: phone;
    width: 100%;
    box-shadow: var(--standard-shadow);
}
#dash{
    grid-area: dash;
    width: 100%;
    box-shadow: var(--standard-shadow);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--space-sm) var(--space-md) var(--space-sm) 0;
}

.card .icon{
    height: 50px;
    margin: 0 0 var(--space-sm) 0 ;
}

/* Integration Section */
.integration-section{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-light);
    background-color: var(--primary-accent);
}
.integration-section .card-container{
    display: flex;
    margin: var(--space-lg) 0;
}
.integration-section .card-container .card{
    width: 50%;
}
.integration-section .primary-button{
    background-color: var(--light-blue);
    color: var(--primary-accent);
    margin: var(--space-md) 0 0;
}
.integration-section .primary-button:hover{
    background-color: var(--bg-white);
}
.integration-section .secondary-button{
    color: var(--light-blue);
}
#terminal-code{
    max-width: 470px;
    border-radius: 20px;
}
#api{
    max-width: 470px;
    margin: 0 0 var(--space-md) 0;
    border-radius: 20px;
}
/* WHY SWIPE SECTION */
.why-swipe-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.why-swipe-section .card-container{
    display: flex;
    margin: var(--space-lg) 0 0;
}
.why-swipe-section .card-container .card{
    width: 25%;
    padding: 0 var(--space-sm) 0 0;
    margin: var(--space-sm)var(--space-md) 0 0;
    box-sizing: border-box;
}
.why-swipe-section .secondary-text{
    color: var(--text-dark);
}

/* Globle Section */
.globle-section{
    background-color: var(--primary-accent);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-light);
    padding: calc(var(--space-xl)*3) 0;
    position: relative;
}
.globle-section a{
    color: var(--light-blue);
}
.globle-section a:hover{
    color: var(--text-light);
}
.globle-section .card-container{
    display: flex;
    margin: calc(var(--space-xl)*2) 0;
}
.globle-section .card-container .card{
    width: 25%;
    box-sizing: border-box;
    padding: 0 var(--space-sm) 0 0;
    margin: 0 var(--space-md) 0 0;
}
.globle-section .card-container .card h2{
    border-left:  2px solid var(--light-blue);
    padding: 0 0 0 var(--space-sm);
    line-height: 28px;
}
#glob{
    max-width: 644px;
    position: absolute;
    top:10%;
    opacity: 0.25;
    z-index: 3;
}

/* virtual-event-section */
.virtual-event-section {
    display: flex;
    justify-content: center;
    margin: calc(var(--space-xl)*3) 0 ;
}
.virtual-event-section .primary-button{
    background-color: var(--light-blue);
    margin: var(--space-md) 0 0 0 ;
}

.virtual-event-section .primary-button:hover{
    background-color: var(--primary-accent);
}

.virtual-event-section .col-left{
    height: 440px;
    padding: 0 var(--space-xl) 0 0 ;
}
.swipe-session-card{
    width: 540px;
    height: 440px;
    box-shadow: var(--standard-shadow);
    border-radius: 20px;
    overflow: hidden;
}

.swipe-session-card .card-top{

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.swipe-session-card .card-top::before{
    background: var(--primary-gradient);
    content: "";
    width: 100%;
    height: 150%;
    position: absolute;
    top: -40%;
    transform: skewY(-5deg);
    z-index: 1;
}   
#session-logo{
    z-index: 2;
    width: 338px;
}

.swipe-session-card .avatars{
    position: absolute;
    z-index: 3;
    bottom: -70px;
    left: var(--space-xl);
}

.swipe-session-card .avatars img{
    width: 80px;
}
.swipe-session-card .avatars img:nth-of-type(2){
    position: absolute;
    left: 55px;
}

.swipe-session-card .card-bottom{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: var(--space-xl);
}
.swipe-session-card .card-bottom .secondary-text{
    width: 50%;
    color: var(--text-dark);
    font-weight: 700;
}
.swipe-session-card .card-bottom .subtitle{
    margin: var(--space-md) 0 0 0 ;
}
/* getting-started-section */
.getting-started-section{
    display: flex;
    justify-content: center;
    padding: var(--space-xl) 0;
}
.getting-started-section .primary-button{
    background-color: var(--purple-1);
    margin: var(--space-md) 0;
}
.getting-started-section .primary-button:hover{
    background-color: var(--primary-accent);
}

.getting-started-section .col-right{
    flex-direction: row;
}
.getting-started-section .col-left{
    padding: 0 var(--space-lg) 0 0;
}
.getting-started-section .col-right .card{
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--space-sm) 0 0;
    margin: 0 var(--space-md) 0 0;
}
.getting-started-section .col-right .card .secondary-button{
    color: var(--purple-2);
    padding-left:0 ;
}
/* Footer */
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--bg-light);
    padding: var(--space-xl) 0;
}
.footer .section-container{
    display: flex;
}
.footer .col{
    width: 25%;

}
.footer .col ul{
    list-style: none;
    padding: 0;
}
.footer .col ul li{

    padding: var(--space-sm) 0;
}
.footer .col a{
    color: var(--text-dark);
    font-weight: normal;
}
.footer .col a:hover{
    color: var(--purple-1);
    text-decoration: underline;
}
.footer .icon-link img{
    width: 24px;
}
.footer .icon-link{
    display: flex;
    align-items: center;
    margin: var(--space-md) 0;
}
#footer-logo{
    width: 100px;
    margin: 0 0 var(--space-sm) 0;
}
.footer h3{
    font-weight: 700;
    font-size: 20px;
}